@import '~bootstrap/scss/bootstrap';


.border {
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
}

.hidden {
  display: none;
}

$background-color: rgb(180, 180, 180);
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

#newGame {
  background-color: rgb(50, 200, 220);
  margin: 50px;
}

body {
  background-color: $background-color;
  text-align: center;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 100px;
  justify-content: center;
}

.alert {
  display: none;
}

.box:hover {
  background-color: rgba(255, 255, 255, .2);
}

// #newGame {
//   background-color: rgb(50, 200, 220);
// }
