@import '~bootstrap/scss/bootstrap';

h1 {
  margin-top: 40px;
}

.ttt {
  margin: 30px 0;
}

.border {
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
}

.hidden {
  display: none;
}

.btn {
  margin: 10px
}

$background-color: rgb(180, 180, 180);
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$charcoal: #303030;

#newGame {
  background-color: rgb(50, 200, 220);
  margin: 10px;
}

body {
  background-color: $background-color;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 576px) {
  #gameBoard {
    max-width: 540px;
  }
}

@media screen and (min-width: 600px) {
  #gameBoard {
      width: 375px;
      height: 375px;
  }
}

#gameBoard {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
}

.box {
  align-items: center;
  border: 3px solid $white;
  color: $font-color;
  display: flex;
  height: 130px;
  justify-content: center;
  font-size: 80px;
  padding-bottom: 10px;
  font-weight: 600;
}

.top {
  border-top: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.vcenter {
  vertical-align: middle;
  display: inline-block;
  float: none;
}

.alert {
  display: none;
}

.win {
  color: $charcoal;
  background-color: rgb(170, 225, 230);
}

#xWins {
  font-size: 30px;
  background-color: rgba(170, 225, 230, .8);
}

#oWins {
  font-size: 30px;
  background-color: rgba(170, 225, 230, .8);
}

.tie {
 background-color: rgba(225, 255, 255, .3);
}

#tie {
  font-size: 30px;
  background-color: rgba(225, 255, 255, .5);
}


.box:hover {
  background-color: rgba(255, 255, 255, .2);
}

#2ndStep {
  color: rgb(62, 140, 44);
}

.table {
  background-color: rgba(255, 255, 255, .2);
  border: 1px;
}

#allGamesPlayed {
  font-size: 20px;
  margin-bottom: 100px;
}
